<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <div th:insert="~{common-parts/admin-navbar :: navbar}"></div>
</header>

<section class="login-page">
    <h2>Szczegóły daru</h2>
    <div class="form-group form-group--buttons">
        <a th:href="@{/donations}" class="btn btn--without-border">Wróć</a>
    </div>
    <table class="table" id="user-details">
        <tr>
            <th>Id daru</th>
            <td th:text="${donation.id}"></td>
        </tr>

        <tr th:if="${donation.user != null}">
            <th>Darczyńca</th>
            <td>
                <a th:href="@{/admins/users/{id}(id=${donation.user.id})}" th:text="${donation.user.email}"></a>
            </td>
        </tr>

        <tr th:if="${donation.user == null}">
            <th>Darczyńca</th>
            <td>Użytkownik usunięty</td>
        </tr>

        <tr>
            <th>Kategorie daru</th>
            <td th:text="${donation.getCategoriesString()}"></td>
        </tr>
        <tr>
            <th>Ilość worków</th>
            <td th:text="${donation.quantity}"></td>
        </tr>
        <tr th:if="${donation.institution != null}">
            <th>Fundacja</th>
            <td th:text="${donation.institution.name}"></td>
        </tr>

        <tr th:if="${donation.institution != null}">
            <th>Fundacja</th>
            <td>Fundacja usunięta</td>
        </tr>

        <tr>
            <th>Stworzono</th>
            <td th:text="${donation.getCreatedTime()}"></td>
        </tr>

        <tr>
            <th>Adres</th>
            <td th:text="${donation.street} + ', ' + ${donation.zipCode} + ' ' + ${donation.city}"></td>
        </tr>

        <tr>
            <th>Data i czas odbioru</th>
            <td th:text="${donation.pickUpDate} + ', godzina: ' + ${donation.pickUpTime}"></td>
        </tr>
        <tr>
            <th>Numer telefonu</th>
            <td th:text="${donation.phoneNumber}"></td>
        </tr>
        <tr>
            <th>Status</th>
            <td th:if="${donation.received == true}">Odebrane</td>
            <td th:if="${donation.received == false}">Nieodebrane</td>
        </tr>
        <tr th:if="${donation.received == true}">
            <th>Data odbioru</th>
            <td th:text="${donation.getDonationPassedDateTime()}"></td>
        </tr>
    </table>
    <form th:if="${donation.received == false}" th:action="@{/admins/donations/archive}" id="archive-form" method="POST">
        <input type="text" hidden name="donationId" th:value="${donation.id}">
        <button type="submit" class="btn btn--without-border">Oznacz jako odebrane</button>
    </form>

    <form th:if="${donation.received == true}" th:action="@{/admins/donations/unarchive}" id="un-archive-form" method="POST">
        <input type="text" hidden name="donationId" th:value="${donation.id}">
        <button type="submit" class="btn btn--without-border">Oznacz jako nieodebrane</button>
    </form>

    <form th:action="@{/admins/donations/delete}" id="delete-archive-form" method="POST" th:class="delete-form">
        <input type="text" hidden name="donationId" th:value="${donation.id}">
        <button type="submit" class="btn btn--without-border">Usuń</button>
    </form>
</section>
<div th:insert="~{common-parts/confirmation-modal :: confirmation-modal}"></div>

</body>
<script th:src="@{/js/app.js}"></script>
</html>
