<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<header>
    <div th:insert="~{common-parts/admin-navbar :: navbar}"></div>
</header>

<section class="login-page">
    <h2>Wszystkie dary</h2>
    <div>
        <form th:action="@{/admins/donations}" method="GET">
            <table>
                <tr>
                    <td>
                        <div class="sort-type">
                            <label>
                                <input
                                        name="sortType"
                                        type="radio"
                                        value="created"
                                />
                                <span class="checkbox"></span>
                                <span class="description">Data dodania</span>
                            </label>
                        </div>

                        <div class="sort-type">

                            <label>
                                <input
                                        name="sortType"
                                        type="radio"
                                        value="quantity asc"
                                />
                                <span class="checkbox"></span>
                                <span class="description">Ilość worków rosnąco</span>
                            </label>
                        </div>

                        <div class="sort-type">

                            <label>
                                <input
                                        name="sortType"
                                        type="radio"
                                        value="quantity desc"
                                />
                                <span class="checkbox"></span>
                                <span class="description">Ilość worków malejąco</span>
                            </label>
                        </div>

                        <div class="sort-type">

                            <label>
                                <input
                                        name="sortType"
                                        type="radio"
                                        value="received asc"
                                />
                                <span class="checkbox"></span>
                                <span class="description">Odebrane najpierw</span>
                            </label>
                        </div>

                        <div class="sort-type">
                            <label>
                                <input
                                        name="sortType"
                                        type="radio"
                                        value="received desc"
                                />
                                <span class="checkbox"></span>
                                <span class="description">Nieodebrane najpierw</span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button type="submit" class="btn btn--without-border">Sortuj</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</section>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Id daru</th>
        <th>Kategorie daru</th>
        <th>Ilość worków</th>
        <th>Stworzono</th>
        <th>Status</th>
        <th>Data odbioru</th>
        <th>Akcje</th>
    </tr>
    </thead>

    <tr th:each="donation : ${donations}">
        <td th:text="${donation.id}"></td>
        <td th:text="${donation.getCategoriesString()}"></td>
        <td th:text="${donation.quantity}"></td>
        <td th:text="${donation.getCreatedDateTime()}"></td>
        <td th:if="${donation.received == false}">Nieodebrane</td>
        <td th:if="${donation.received == true}">Odebrane</td>

        <td th:if="${donation.donationPassedTime == null}">Nieodebrane</td>
        <td th:if="${donation.donationPassedTime != null}" th:text="${donation.getDonationPassedDateTime()}"></td>
        <td>

            <a th:href="@{/admins/donations/{id}(id=${donation.id})}" class="btn btn--without-border">Pokaż</a>

            <form th:action="@{/admins/donations/delete}" id="delete-archive-form" th:class="delete-form"
                  method="POST">
                <input type="text" hidden name="id" th:value="${donation.id}">
                <button type="submit" class="btn btn--without-border">Usuń</button>
            </form>
        </td>
    </tr>
</table>
<div th:insert="~{common-parts/confirmation-modal :: confirmation-modal}"></div>
</body>
<script th:src="@{/js/app.js}"></script>
</html>
