<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <div th:insert="~{common-parts/admin-navbar :: navbar}"></div>
</header>

<section class="login-page">
    <h2>Szczegóły kategorii</h2>
    <div>
        <div class="form-group form-group--buttons">
            <a th:href="@{/admins/all-admins}" class="btn btn--without-border">Wróć</a>
        </div>
    </div>
</section>
<table class="table">
    <thead>
    <tr>
        <th>Zdjęcie</th>
        <th>Id Admina</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Zarejestrowany</th>
        <th>Miasto</th>
        <th>Państwo</th>
        <th>Numer telefonu</th>
        <th>Aktywowany</th>
        <th>Akcje</th>

    </tr>
    </thead>

    <tr>
        <td>
            <img
                    class="rounded-circle me-3"
                    height="50px"
                    width="50x"
                    th:if="${admin.profile.photosImagePath!=null}"
                    th:src="@{${user?.profile.photosImagePath}}"
            />
        </td>
        <td th:text="${admin.id}"></td>
        <td th:if="${admin.profile.firstName !=null}" th:text="${admin.profile.firstName}"></td>
        <td th:if="${admin.profile.firstName ==null}">Brak info</td>

        <td th:if="${admin.profile.lastName !=null}" th:text="${admin.profile.lastName}"></td>
        <td th:if="${admin.profile.lastName ==null}">Brak info</td>

        <td th:text="${admin.email}"></td>
        <td th:text="${admin.registrationDate}"></td>

        <td th:if="${admin.profile.city !=null}" th:text="${admin.profile.city}"></td>
        <td th:if="${admin.profile.city ==null}">Brak info</td>

        <td th:if="${admin.profile.country !=null}" th:text="${admin.profile.country}"></td>
        <td th:if="${admin.profile.country ==null}">Brak info</td>

        <td th:if="${admin.profile.phoneNumber !=null}" th:text="${admin.profile.phoneNumber}"></td>
        <td th:if="${admin.profile.phoneNumber ==null}">Brak info</td>

        <td th:if="${admin.enabled == true}">Aktywowany</td>
        <td th:if="${admin.enabled == false}">Nieaktywowany</td>

        <td>
            <a th:href="@{/admins/all-admins/edit/{id}(id=${admin.id})}"
               class="btn btn--without-border">Edytuj</a>

            <a th:href="@{/admins/all-admins/block/{id}(id=${admin.id})}"
               class="btn btn--without-border">Zablokuj</a>

            <a th:href="@{/admins/all-admins/downgrade/{id}(id=${admin.id})}"
               class="btn btn--without-border">Odbierz funkcję admina</a>

            <a th:href="@{/admins/all-admins/delete/{id}(id=${admin.id})}"
               class="btn btn--without-border">Usuń</a>

        </td>
    </tr>
</table>

</body>
</html>
