<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header class="header--main-page">
      <div th:insert="~{common-parts/navbar :: navbar}"></div>

      <div class="slogan container container--90">
        <div class="slogan--item">

          <h1 sec:authorize="hasAuthority('ROLE_USER') and (hasAuthority('ROLE_ADMIN') or !hasAuthority('ROLE_ADMIN')) or isAnonymous()">
            Zacznij pomagać!<br/>
            Oddaj niechciane rzeczy w zaufane ręce
          </h1>

            <h2 th:if="${messageSuccess != null}" class="alert alert-success" th:text="${messageSuccess}"/>

            <a th:href="@{/#contact}" th:if="${messageError != null}" class="alert alert-danger" th:text="${messageError}"/>

        </div>
      </div>
    </header>

    <section
            sec:authorize="hasAuthority('ROLE_USER') and (hasAuthority('ROLE_ADMIN') || !hasAuthority('ROLE_ADMIN')) or isAnonymous()"
            id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em th:text="${allDonationBags}"></em>
          <h3>Oddanych worków</h3>
          <p>Worki z darami, które trafiły do potrzebujących dzięki naszej społeczności.</p>
        </div>

        <div class="stats--item">
          <em th:text="${allDonations}"></em>
          <h3>Przekazanych darów</h3>
          <p>Rzeczy, które znalazły nowe domy dzięki darczyńcom.</p>
        </div>

      </div>
    </section>

    <section
            sec:authorize="hasAuthority('ROLE_USER') and (hasAuthority('ROLE_ADMIN') || !hasAuthority('ROLE_ADMIN')) or isAnonymous()"
            id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a sec:authorize="isAnonymous()" th:href="@{/register}" class="btn btn--large">Załóż konto</a>
    </section>

    <section
            sec:authorize="hasAuthority('ROLE_USER') and (hasAuthority('ROLE_ADMIN') || !hasAuthority('ROLE_ADMIN')) or isAnonymous()"
            id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Witamy na platformie "Oddam w dobre ręce", która łączy darczyńców ze zweryfikowanymi instytucjami. Naszą misją jest ułatwienie przekazywania rzeczy, których już nie potrzebujesz, aby mogły trafić do osób najbardziej potrzebujących.</p>
        <img th:src="@{/images/signature.svg}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img th:src="@{/images/about-us.jpg}" alt="People in circle" /></div>
    </section>

    <section
            sec:authorize="hasAuthority('ROLE_USER') and (hasAuthority('ROLE_ADMIN') || !hasAuthority('ROLE_ADMIN')) or isAnonymous()"
            id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
          Możesz sprawdzić czym się zajmują.</p>
        <ul class="help--slides-items">
          <li th:each="institution, iterStat : ${institutions}" th:if="${iterStat.index % 2 == 0}">
            <div class="col">
              <div th:text="${institution.name}" class="title"></div>
              <div th:text="${institution.description}" class="subtitle"></div>
            </div>
            <div th:if="${iterStat.index + 1 < institutions.size()}" class="col">
              <div th:text="${institutions[iterStat.index + 1].name}" class="title"></div>
              <div th:text="${institutions[iterStat.index + 1].description}" class="subtitle"></div>
            </div>
          </li>
        </ul>


      </div>

    </section>

    <footer sec:authorize="hasAuthority('ROLE_USER') and (hasAuthority('ROLE_ADMIN') || !hasAuthority('ROLE_ADMIN')) or isAnonymous()">
      <div th:insert="~{common-parts/footer :: footer}"></div>
    </footer>

  </body>
    <script th:src="@{/js/app.js}"></script>
</html>
