<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <div th:insert="~{common-parts/navbar :: navbar}"></div>
</header>

<section class="login-page">
    <h2>Wprowadź adres email. Na twój email wyślemy link resetujący hasło</h2>
    <form th:action="@{/reset-password}" method="POST" th:object="${email}">

        <div class="form-group">
            <input type="email" id="email" th:field="*{addressEmail}" placeholder="Adres email"/>
        </div>
        <div th:if="${#fields.hasErrors('addressEmail')}"
             class="alert alert-danger">
            <p th:errors="*{addressEmail}"></p>
        </div>
        <div class="form-group form-group--buttons">
            <a th:href="@{/}" class="btn btn--without-border">Wróć</a>
            <button class="btn" type="submit">Wyślij link</button>
        </div>
    </form>
</section>

</body>
<script th:src="@{/js/app.js}"></script>
</html>

