<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header>
      <div sec:authorize="(hasAuthority('ROLE_USER') and !hasAuthority('ROLE_ADMIN')) or (hasAuthority('ROLE_USER') and hasAuthority('ROLE_ADMIN')) "
           th:insert="~{common-parts/navbar :: navbar}"></div>

      <div sec:authorize="hasAuthority('ROLE_ADMIN') and !hasAuthority('ROLE_USER')"
           th:insert="~{common-parts/admin-navbar :: navbar}"></div>
    </header>

    <section class="login-page">
      <h2>Zmień email</h2>
      <div>
        <div class="form-group form-group--buttons">
          <a th:href="@{/account/edit}" class="btn btn--without-border">Wróć</a>

          <form th:action="@{/account/change-email}" id="change-email-form" method="POST" th:object="${userToEdit}">

            <div class="form-group">
              <input type="text" hidden name="id" placeholder="id" th:field="*{id}" th:value="*{id}"/>
              <input type="text" hidden name="password" placeholder="password" th:field="*{password}" th:value="*{password}"/>
              <input type="text" hidden name="passwordRepeat" placeholder="passwordRepeat" th:field="*{passwordRepeat}" th:value="*{passwordRepeat}"/>
            </div>

            <div class="form-group">
              <label for="email" class="email-label">Nowy email</label>
              <input type="text" name="email" id="email" placeholder="Email" th:field="*{email}" />
              <div th:if="${#fields.hasErrors('email')}"
                   class="alert alert-danger">
                <p th:errors="*{email}"></p>
              </div>
            </div>

            <div class="form-group form-group--buttons">
              <button class="btn" type="submit">Edytuj email</button>
            </div>

          </form>
        </div>
      </div>
    </section>
    <div id="confirmationModal" class="modal">
      <div class="modal-content">
        <h2>Potwierdzenie usunięcia</h2>
        <p>Czy na pewno chcesz usunąć?</p>
        <div class="modal-buttons">
          <button id="confirmDelete" class="btn btn--highlighted">Usuń</button>
          <button id="cancelDelete" class="btn btn--without-border">Anuluj</button>
        </div>
      </div>
    </div>
  </body>
<script th:src="@{/js/app.js}"></script>
</html>
